@media (max-width: 24em) {
  .container {
    padding: 0;
  }

  .heading-img {
    padding: 0;
    border-radius: 0%;
  }

  .container-2 {
    padding-right: 2rem;
    padding-left: 2rem;
    overflow: hidden;

    margin-left: 2rem;
    margin-right: 2rem;
  }

  .heading-primary--text {
    width: 27rem;
  }
}
